.jumbotron {
    background:rgba(255, 255, 255, 0.767);
    width: auto;
    height: auto;
     border-radius: 30px;
}

.jembot {
    background:rgba(255, 255, 255, 0.767);
    width: auto;
    height: auto;
    border-radius: 30px;
     
}

.jamet {
    background:rgba(90, 87, 90, 0.842);
	width: auto;
	padding: 6%;

	
    border-radius: 50px;
     
}
.jami {
    background:rgba(210, 204, 211, 0.788);
	width: 50%;
	height: 5px;
	padding: 5%;

	
    border-radius: 90px;
     
}

.kuproy {
    background:rgba(255, 255, 255, 0.849);
    width: auto;
    height: auto;
    border-radius: 30px;
     
}

  

img.gadol {
    border-radius: 50%;
    border: 2px solid pink;
    padding: 1px;
   
  }
  img.gadol:hover {
    
      transform: rotate(1000deg) scale(1.0);
      -webkit-transition: .8s ease-in-out;
      transition: .8s ease-in-out;
  }

.list-group-item {
    color: blue;
    width: 80%;
    background: #ffffff;
    margin: 0 auto;
   
	  border-radius: 20px;
}

#steal a{
	padding:3px;
	margin:1;
	background:white;
	text-decoration:none;
	letter-spacing:1px;
	-moz-border-radius: 10px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px;
}
#steal a:hover{
	background:crimson;
	border-bottom:1px solid crimson;
	border-top:1px solid crimson;
}

#stonk a{
	padding:10px;
	margin:2;
	background:white;
	text-decoration:none;
	letter-spacing:1px;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px;
}
#stonk a:hover{
	background:gold;
	border-bottom:1px solid blue;
	border-top:1px solid blue;
}


.lost-group-item {
    color: purple;
	background: transparent;
   
	  
}

.invite {
    color: blue;
    background-color: white;
}

.toto {
	text-align: center;
  }
 .toto pre {
   display: inline-block;
   text-align: left;
  }


code {
	background-color: #23272A;
    color: #ffffff;
    height: auto;
	font-size: 0.875em;
	font-weight: normal;
	padding: 0.25em 0.5em 0.25em;
	border-radius: 2px;
	transition: all 0.2s ease-in-out;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background: #212121 !important;
    height: auto;
	border: 1px solid #00000;
	color: #ffffff;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
    background: #212121) !important;
    
	border: 1px solid #00000;
	color: #ffffff;
}

    
#backToTop {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
}

.parallax {
	background-image: url('msh.jpg');
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translatey(0px);
	}
}


.avatar {
	width: 200px;
	height: 200px;
	border: 4px #212121 solid;
	box-sizing: border-box;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: #212121;
	border-radius: 10px;
	border-radius: 0 !important;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 0 !important;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 0 !important;
}


.box {
	width: 40%;
	margin: 0 auto;
	background: rgba(255,255,255,0.2);
	padding: 35px;
	border: 2px solid #fff;
	border-radius: 20px/50px;
	background-clip: padding-box;
	text-align: center;
  }
  
  .button {
	font-size: 1em;
	padding: 10px;
	color: #fff;
	border: 2px solid #06D85F;
	border-radius: 20px/50px;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-out;
  }
  .button:hover {
	background: #06D85F;
  }
  
  .overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
  }
  .overlay:target {
	visibility: visible;
	opacity: 1;
  }
  
  .popup {
	margin: 70px auto;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	width: 30%;
	position: relative;
	transition: all 5s ease-in-out;
  }
  
 
  .popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
  }
  .popup .close:hover {
	color: #06D85F;
  }
  .popup .content {
	max-height: 30%;
	overflow: auto;
  }
  
  @media screen and (max-width: 700px){
	.box{
	  width: 70%;
	}
	.popup{
	  width: 70%;
	}
  }

  * {
	box-sizing: border-box;
  }

    /* Create three equal columns that floats next to each other */
	.column {
		float: left;
		
		width: 33.33%;
		padding: 10px;
		height: 300px; /* Should be removed. Only for demonstration */
	  }
	  
	  /* Clear floats after the columns */
	  .row:after {
		content: "";
		display: table;
		clear: both;
	  }
	
	  .card-horizontal {
	  display: flex;
	  flex: 1 1 auto;
	}

	.imgc {
		filter: drop-shadow(0 4px 5px rgba(0, 0, 0, 0.65));
		animation: pulsePic 2s infinite;
		-webkit-animation: pulsePic 2s infinite;
		border-radius: 5%;
		
		display: block;
		margin-left: auto;
		margin-right: auto;
		
		text-align: center;
		user-select: none;
		-moz-user-select: none;
		-webkit-user-drag: none;
		-webkit-user-select: none;
		-ms-user-select: none
  
 }
 @-webkit-keyframes pulsePic {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.959)
	}
	70% {
		-webkit-box-shadow: 0 0 0 20px transparent
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 transparent
	}
}

@keyframes pulsePic {
	0% {
		-moz-box-shadow: 0 0 0 0 rgba(246, 246, 246, 0.972);
		box-shadow: 0 0 0 0 rgba(246, 246, 246, 0.842)
	}
	70% {
		-moz-box-shadow: 0 0 0 20px transparent;
		box-shadow: 0 0 0 20px transparent
	}
	100% {
		-moz-box-shadow: 0 0 0 0 transparent;
		box-shadow: 0 0 0 0 transparent
	}
}


 .imgcx {
	filter: drop-shadow(0 4px 5px rgba(0, 0, 0, 0.65));
	animation: pulsePic 2s infinite;
	-webkit-animation: pulsePic 2s infinite;
	border-radius: 5%;
	
	display: block;
	margin-left: auto;
	margin-right: auto;
	
	text-align: center;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none

}
@-webkit-keyframes pulsePic {
0% {
	-webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.959)
}
70% {
	-webkit-box-shadow: 0 0 0 20px transparent
}
100% {
	-webkit-box-shadow: 0 0 0 0 transparent
}
}

@keyframes pulsePic {
0% {
	-moz-box-shadow: 0 0 0 0 rgba(246, 246, 246, 0.972);
	box-shadow: 0 0 0 0 rgba(246, 246, 246, 0.842)
}
70% {
	-moz-box-shadow: 0 0 0 20px transparent;
	box-shadow: 0 0 0 20px transparent
}
100% {
	-moz-box-shadow: 0 0 0 0 transparent;
	box-shadow: 0 0 0 0 transparent
}
}
